
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans',sans-serif;

    .modal-dialog {
        width: 90%;
        padding: 30px;
        background-color: #FFF;
        margin: 60px auto;
        position: relative;
        overflow: hidden;

        border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -webkit-border-radius: 3px;

        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;


        .modal-close{
            cursor: pointer;
            font-size: 35px;
            position: absolute;
            top: 0;
            right: 14px;
            z-index: 15;
            background-color: #FFF;
            border: none;
            line-height: 1;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
        }

        .modal-body {
            overflow-y: auto;
            max-height: calc(100% - 120px);
        }

        .modal-footer {
            
            padding: 2px 16px;
            background-color: #FF8E2A;
            color: #fff;
            font-weight: 600;
            font-size: 1em;
            text-align: center;
        }

    }

    h1, h2, h3, h4, h5 {
        margin: 18px 0;
        text-align: left;
    }

    p {
        margin: 14px 0;
        font-size: 14px;
        line-height: 1.42857;
        text-align: justify
    }
}

button[data-dialog], a[data-dialog] {
    cursor: pointer;
}