
footer {
    font-family: 'Open Sans', sans-serif;
    padding: 25px 0;
    text-align: center;
    color: rgba(255,255,255,.3);
    background-color: #222;

    p {
        font-size: 12px;
        margin: 0;
    }

    a {
        font-size: 12px;
        color: rgba(255,255,255,.3);
    }

    a:hover {
        color: $color-yellow;
    }
}