


body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

button {
    outline: 0;
    overflow: visible;
    text-transform: none;
}

a {
    outline: 0;
    text-decoration: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.text-muted {
    color: #6c757d !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.text-center {
    text-align: center !important;
}

.text-shadown {
    text-shadow: 0 3px 5px rgba(0,0,0,.7);
}

section {

    .section-heading {
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 15px;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
    }

    .section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 75px;
        text-transform: none;
    }

    .btn-primary {
        font-weight: 600;
        color: #FFF;
    }
}

.btn-primary {
    font-family: 'Open Sans SemiBold',sans-serif;
    font-size: 1em;
    padding: 15px;
    border-radius: 8px;
    background-color: #FF8E2A;
    margin-top: 15px;
    box-shadow: 0 4px 0 #bc681e;
    cursor: pointer;
}

.btn-primary:active {
    margin-top: 19px;
    box-shadow: none;
    transition: .1s;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.list-inline {
    padding-left: 0;
    list-style: none;

    .list-inline-item {
        display: inline-block;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}