

.members-box {
    background-color: #f8f9fa !important;
    margin: 0 auto;
    padding: 80px 0;

    .container{
        max-width: 920px;
    }
    
    .row {
        align-items: center;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    a:hover {
        color: #ffba30;

        .member {
            img {
                border-color: #ffba30;
            }
        }
    }

    .member {
        margin-bottom: 50px;
        text-align: center;

        img {
            width: 180px;
            height: 180px;
            border: 7px solid #fff;
            background-position: center center;
            background-repeat: no-repeat;
        }

        h4 {
            font-size: .9rem;
            margin-top: 5px;
            margin-bottom: 0;
            text-transform: none;
        }

        p {
            margin-top: 0px;
        }
    }

}

.modal-dialog-member {
    max-width: 500px;
}