.schedule {

    h1 {
        margin-top: 50px;
    }

    .schedule-list {

        margin: 50px 0 100px;

        .schedule-list__title {
            justify-content: center;
        }

        li {
            align-items: center;
            border-bottom: 1px solid #CCC;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            line-height: 22px;
            padding: 15px 10px;
            list-style-type: none !important;

            .schedule-item__hour {
                display: table;
                height: 46px;
                width: 22%;
            }

            .schedule-item__desc {
                display: inline;
                min-height: 50px;
                padding-left: 15px;
                width: 75%;
                text-align: left;

                span {
                    display: block;
                }
            }

        }

    }

    .item-title {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }
}