
.submission {
    margin: 0 auto;
    padding-top: 8%;
    height: 300px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,.7) 100%),url(../img/flisol.jpg);
    background-attachment: fixed;
    color: #fff;
    text-align: center;

    .modal-dialog{
        width: 70%;
        padding: 0;

        .modal-body{
            text-align: center;
            padding: 0;
            margin: 0;

            img{
                width: 45%;
            }
        }
    }

}