

.support {
    width: 100%;
    background-color: #f8f9fa;
    font-size: 1.2em;
    color: #333;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;

    h3 {
        margin-bottom: 25px;
    }
    
    img {
        margin: 0 15px;
        max-height: 120px;
    }
    
}