@font-face {
  src: url('../fonts/Gobold-Light.otf');
  font-family: 'Gobold-light';
  font-weight: 600;
  font-size: 1em;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu {
  z-index: 1000;
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  transition: 0.5s;
  padding: 0 20px;
}

#menu img {
  margin: 2px;
  height: 45px;
  line-height: 50px;
  vertical-align: middle;
  width: auto;
  float: left;
  padding-left: 10px;
  filter: invert(100%);
  transition: filter 0.5s linear;
  position:relative;
  z-index: 2;
}

#menu ul {
  float: right;
  padding-right: 10px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

#menu li {
  display: inline;
  padding: 0 10px;
  font-family: 'Open Sans Light', sans-serif;
  font-weight: 600;
  font-weight: lighter;
  font-size: 1em;
  color: #fff;
}

#menu li:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

#menu a {
  text-decoration: none;
  color: #fff;
}

nav#menu.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

nav#menu.scrolled ul a li {
  color: #000;
}

nav#menu.scrolled ul a li:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

nav#menu.scrolled img {
  filter: invert(0%);
}

#signup {
  background-color: #FF8E2A;
  border-radius: 8px;
  border: 4px solid #FF8E2A;
  box-shadow: 0 4px 0 #bc681e;
}

#signup:hover {
  border: 4px solid #FF8E2A !important;
}

#signup:active {
  box-shadow: none;
  margin-top: 40px;
  vertical-align: bottom;
  transition: 0.1s;
}

#bars {
  display: none;
}

.banner {
  text-align: center;
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.70) 100%), url("../images/feiradesantana.jpg");
}

.banner h1 {
  font-family: 'Gobold-light', sans-serif;
  font-weight: 600;
  font-size: 6.1em;
  padding-top: 8%;
  color: #fff;
  text-shadow: 0 10px 5px rgba(0,0,0,0.38);
}

.banner span {
  font-family: 'Gobold-light', sans-serif;
  font-weight: 600;
  font-size: 1.20em;
  color: #fff;
  text-shadow: 0 10px 5px rgba(0,0,0,0.38);
  display: block;
}

.countdown h3 {
  font-family: 'Gobold-light', sans-serif;
  font-weight: 600;
  color: #fff;
  font-weight: lighter;
  font-size: 1.75em;
  padding-top: 6%;
}

#clockdiv{
	font-family: 'Open Sans', sans-serif;
  font-weight: 600;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	/* padding: 10px; */
	/* border-radius: 3px; */
	/* background: #00BF96; */
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
  margin-top: 10px;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 0.5em;
}

.banner button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  color: #FF8E2A;
  font-size: 2em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.85);
  /* margin-top: 120px; */
  margin-top: 5.5%;
  cursor: pointer;
  outline: none;
}

.banner  a {
  text-decoration: none;
  color: #FF8E2A;
}

.about {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  padding: 80px 0;
}

.info {
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.info h2 {
  font-size: 2.5em;
  display: block;
  padding-bottom: 10px;
}

.info p {
  width: 99%;
  text-align: justify;
  vertical-align: middle;
  font-size: 1em;
}

.info img {
  vertical-align: middle;
  float: left;
  margin: 0px 15px 15px 0px;
  width: 135px;
}

.cfp {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0.70) 100%), url("../img/flisol.jpg");
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
}

.cfp h3 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding-top: 8%;
}

.cfp button {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 15px;
  border-radius: 8px;
  background-color: #FF8E2A;
  color: #fff;
  margin-top: 15px;
  box-shadow: 0 4px 0 #bc681e;
  cursor: pointer;
}

.cfp button:active {
  margin-top: 19px;
  box-shadow: none;
  transition: 0.1s;
}

@-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
}

@keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }

    to {
      top:0;
      opacity:1;
    }
}

.subscribe {
  width: 90%;
  margin: 0 auto;
  height: 300px;
  background-color: #fff;
  text-align: center;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.45);
}

.subscribe h3 {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding-top: 6%;
}

.subscribe button {
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding: 15px;
  border-radius: 8px;
  background-color: #FF8E2A;
  color: #fff;
  margin-top: 15px;
  box-shadow: 0 4px 0 #bc681e;
  cursor: pointer;
}

.subscribe button:active {
  margin-top: 19px;
  box-shadow: none;
  transition: 0.1s;
}

.local {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #ffba30;
  padding: 10px 0;
}

.local h3 {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2em;
  padding-top: 5%;
}

.local iframe {
  width: 95%;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.local a {
  font-size: 1.1em;
  font-family: 'Open Sans SemiBold', sans-serif;
  color: #000;
}


@media (max-width: 768px) {
  #menu li {
    display: none;
  }

  .banner button {
    margin-top: 21%;
  }

  #bars {
    display: block;
    float: right;
    padding-right: 10px;
    color: #fff;
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
	z-index:2;
	position:relative
  }
   

  .scrolled #bars {
    color: #000;
  }


  nav#menu.active {
    height: 400px;
    transition: 0.3s;
    line-height: 400px;
  }

  nav#menu.active ul {
    padding-top: 50px;
    float: inherit;
    text-align: center;
    height: inherit;
    margin: 0 auto;
    width: 100%;
    transition: display 0.5s linear;	
	background-color: white;
	opacity: .9;
	z-index:1;
	position:relative
  }

  nav#menu.active li {
    text-align: center;
    display: block;
    transition: display 0.5s linear;
	color: black;
  }

  .cfp {
    height: 400px;
  }

  .cfp h3 {
    padding-top: 13%;
  }

  .subscribe {
    height: 400px;
  }

  .subscribe h3 {
    padding-top: 13%;
  }

}

@media (max-width: 540px) {
  .banner h1 {
    font-size: 4.5em;
    padding-top: 25%;
  }

  .banner span {
    font-size: 0.9em;
  }

  .countdown {
    padding-top: 13%;
  }

  .countdown h3 {
    font-size: 1.5em;
  }

  #clockdiv {
    font-size: 2.7em;
    padding-top: -2%;
  }

  .banner button {
    margin-top: 15%;
  }

  .cfp {
    height: 400px;
  }

  .cfp h3 {
    padding-top: 23%;
  }
}
